/***************************************************
|  CHANGE BACKGROUND IMAGE HERE
****************************************************/

.slider .bg-img-1 {
	background-image: url(../img/slider/1.jpg);
}
.slider .bg-img-2 {
	background-image: url(../img/slider/2.jpg);
}
.slider .bg-img-3 {
	background-image: url(../img/slider/3.jpg);
}
.slider .bg-img-4 {
	background-image: url(../img/slider/4.jpg);
}
.slider .bg-img-5 {
	background-image: url(../img/slider/5.jpg);
}


.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
	display: none;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

.slider .sl-slider-wrapper {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.slider .sl-slider h2,
.slider .sl-slider p {
	padding: 100px 30px 10px 30px;
	max-width: 960px;
	color: #fff;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.slider .sl-slider h2 {
	font-size: 100px;
    font-weight: 300;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.slider .sl-slider p{
	font-size: 24px;
    line-height: 34px;
    font-family: 'Lato', sans-serif;
	padding-top: 20px;
	font-weight: 300;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.slider .sl-slider p cite {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 30px;
	display: inline-block;
}

.slider .bg-img {
	padding: 200px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	top: -200px;
	left: -200px;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 100;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 8px solid #ddd;
	border: 8px solid rgba(150,150,150,0.4);
	text-indent: -90000px;
	margin-top: -40px;
	cursor: pointer;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-arrows span:hover {
	border-color: rgba(150,150,150,0.9);
}

.nav-arrows span.nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
}

.nav-arrows span.nav-arrow-next {
	right: 5%;
	border-left: none;
	border-bottom: none;
}

/* Custom navigation dots */

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 2%;
	height: 30px;
	width: 100%;
	left: 0;
	z-index: 1000;
}

.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(150,150,150,0.4);
	cursor: pointer;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1);
}

.slider .nav-dots span {
	background: rgba(150,150,150,0.1);
	margin: 6px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 2px rgba(255,255,255,0.5);
}

.slider .nav-dots span.nav-dot-current,
.slider .nav-dots span:hover {
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 5px rgba(255,255,255,0.5);
}

.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: rgba(255,255,255,0.8);
}





/* Animations for content elements */

.sl-trans-elems .deco{
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}



/* #Carousel Slider
================================================== */

.slider .carousel {
    max-height: 500px;
    height: 500px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.slider {
    max-height: 500px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.slider .carousel .item {
    max-height: 500px;
    overflow: hidden;
    
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.slider .carousel img {
    max-width: 100%;
    background: transparent;
}

.slider .carousel .carousel-caption {
    position: absolute;
    bottom: 15%;
    background: transparent;
    text-align: center;
}

.slider .carousel .carousel-caption h2 {
    display: inline-block;
    background-color: #b70101;
    color: #FFF;
    padding: 0 20px;
    margin: 0;
    font-weight: 300;
}
    
.slider .carousel .carousel-control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 80px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;
}

.slider .carousel .active.left,
.slider .carousel .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.slider .carousel .left {
	background: #fff url(../img/arrow_left.png) no-repeat center center;
    opacity: 1;
}
    
    .slider .carousel .left:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    }

.slider .carousel .right {
	background: #fff url(../img/arrow_right.png) no-repeat center center;
    opacity: 1;
}
    
    .slider .carousel .right:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    }

.slider .carousel img {
    width: 100%;
}

.slider-progress {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    height: 3px;
    background: #f60;
    -moz-animation:slider-progress 30s infinite;
    -webkit-animation:slider-progress 30s infinite;
    -moz-transition:all 150ms ease-in;
    -webkit-transition:all 150ms ease-in;
    -o-transition:all 150ms ease-in;
}
@-webkit-keyframes slider-progress {
    0% {width:0px; opacity:0;}
    2% {width:0px; opacity:1;}
    20% {width:100%; opacity:1;}
    22.5% {width:100%; opacity:0;}
    22.59% {width:0px;}
    25% {width:0px; opacity:1;}
    45% {width:100%; opacity:1;}
    47.5% {width:100%; opacity:0;}
    47.59% {width:0px;}
    50% {width:0px; opacity:1;}
    70% {width:100%; opacity:1;}
    72.5% {width:100%; opacity:0;}
    72.59% {width:0px;}
    75% {width:0px; opacity:1;}
    95% {width:100%; opacity:1;}
    98% {width:100%; opacity:0;}
    100% {width:0px; opacity:0;}
}
@-moz-keyframes slider-progress {
    0% {width:0px; opacity:0;}
    2% {width:0px; opacity:1;}
    20% {width:100%; opacity:1;}
    22.5% {width:100%; opacity:0;}
    22.59% {width:0px;}
    25% {width:0px; opacity:1;}
    45% {width:100%; opacity:1;}
    47.5% {width:100%; opacity:0;}
    47.59% {width:0px;}
    50% {width:0px; opacity:1;}
    70% {width:100%; opacity:1;}
    72.5% {width:100%; opacity:0;}
    72.59% {width:0px;}
    75% {width:0px; opacity:1;}
    95% {width:100%; opacity:1;}
    98% {width:100%; opacity:0;}
    100% {width:0px; opacity:0;}
}


/* #Parallax
================================================== */

.parallax {
    background: rgba(183,1,1,0.85);
    overflow: hidden;
    z-index: 0;
}

.parallax .carousel .carousel-caption {
    position: absolute;
    bottom: 0 !important;
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow: hidden;
}

.parallax .carousel .carousel-caption .carousel-middle {
    height: 100%;
    width: auto;
    text-align: center;
    padding: 50px 0;
}

.parallax .carousel .item {
    max-height: 500px;
    overflow: hidden;
    background: transparent;
    
    -webkit-transition: left 2s ease-in-out;
    -moz-transition: left 2s ease-in-out;
    -ms-transition: left 2s ease-in-out;
    -o-transition: left 2s ease-in-out;
    transition: left 2s ease-in-out;
}

.parallax .carousel .item h2 {
    background: transparent;
    font-weight: 300;
    display: block;
    padding: 0;
    margin-bottom: 20px;
    font-size: 50px;
}

.parallax .carousel .item h2 i {
    font-weight: 300;
}

.parallax .carousel .item p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 150%;
    margin-bottom: 20px;
}

.parallax .carousel .item p.circle-icon {
    display: inline-block;
    font-size: 90px;
    width: 110px;
    height: 110px;
    padding: 0;
    line-height: 110px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 2px solid #FFF;
}

/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .slider .carousel { height: 400px; max-height: 400px; }
    .parallax .carousel .carousel-caption { top: 0; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .slider .carousel { height: 300px; max-height: 300px }
    .parallax .carousel .carousel-caption { top: 0 }
	.slider .sl-slider-wrapper { height: 400px }
    nav.nav-dots { bottom: 10px; min-height: 30px; }
	.slider .sl-slider h2 { font-size: 40px; padding-top: 50px }
	.slider .sl-slider blockquote {	font-size: 16px }
    .slider .sl-slider p { letter-spacing: 1px; font-size: 16px; line-height: 180% }
    .slider .sl-slider p cite { letter-spacing: 1px }
    .slider .carousel { height: 300px; max-height: 300px }
    .parallax .carousel .carousel-caption { top: 0 }
    footer { padding: 20px; line-height: 180%; }
    .copyright p { line-height: 180%; margin-bottom: 10px }
    .footnav ul li { line-height: 26px }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider .carousel { height: 300px; max-height: 300px }
    .parallax .carousel .carousel-caption { top: 0 }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .slider .carousel { height: 200px; max-height: 200px; overflow: hidden }
    .parallax .carousel .carousel-caption { top: 0 }    
}